<!-- <div class="center">
  <div class="card" style="width: 300px">
    <h2 style="text-align: center">Register</h2>

    <input class="input" [(ngModel)]="username" placeholder="Username" />
    <input class="input" [(ngModel)]="password" type="password" placeholder="Password" />

    <button class="btn btn-primary" (click)="register()">Tạo Tài Khoản</button>

    <p style="text-align: center; margin-top: 10px">
      <a routerLink="/login">Đăng nhập</a>
    </p>
  </div>
</div> -->

<div class="center">
  <div class="card" style="width: 300px">
    <h2 style="text-align: center">Đăng Ký</h2>

    <input class="input" placeholder="Tên" [formControl]="form.controls.username" />

    <div class="error" *ngIf="form.controls.username.touched && form.controls.username.invalid">
      <small>Tên tối thiểu 3 ký tự</small>
    </div>

    <input
      class="input"
      type="password"
      placeholder="Mật khẩu"
      [formControl]="form.controls.password"
    />

    <div class="error" *ngIf="form.controls.password.touched && form.controls.password.invalid">
      <small>Mật khẩu tối thiểu 6 ký tự</small>
    </div>

    <input
      class="input"
      type="password"
      placeholder="Xác nhận mật khẩu"
      [formControl]="form.controls.confirm"
    />

    <div class="error" *ngIf="form.controls.confirm.touched && form.controls.confirm.invalid">
      <small>Nhập lại mật khẩu</small>
    </div>

    <button class="btn btn-primary" [disabled]="form.invalid" (click)="register()">
      Tạo Tài Khoản
    </button>

    <!-- <p style="text-align: center; margin-top: 10px">
      <a routerLink="/login">Đăng nhập</a>
    </p> -->
  </div>
</div>
