/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Input */
.input {
  width: 92%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.input:focus {
  border-color: #1976d2;
}

/* Button */
.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary {
  background: #1976d2;
  color: white;
}

.btn-primary:hover {
  background: #125aa0;
}

.btn-danger {
  background: #e53935;
  color: white;
}

/* Center layout */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
.error {
  color: #e53935;
  padding-bottom: 10px;
}

.avatar {
  margin: 10px auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #1976d2;
  color: white;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
